<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>分类讨论区</key>
	<array>
		<dict>
			<key>本站系统</key>
			<array>
				<dict>
					<key>name</key>
					<string>testname</string>
					<key>url</key>
					<string>testurl</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>交通大学</key>
			<array>
				<dict>
					<key>name</key>
					<string>说说咱交大</string>
					<key>url</key>
					<string>http://bmy.xjtu.edu.cn/zalist.php?board=XJTUnews</string>
				</dict>
				<dict>
					<key>name</key>
					<string>机械工程学院</string>
					<key>url</key>
					<string>http://bmy.xjtu.edu.cn/zalist.php?board=XJTUmec</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>十大</key>
	<array>
		<dict>
			<key>本站系统</key>
			<array>
				<dict>
					<key>name</key>
					<string>testname</string>
					<key>url</key>
					<string>testurl</string>
				</dict>
			</array>
		</dict>
	</array>
    <key>登录</key>
	<array>
		<dict>
			<key>本站系统</key>
			<array>
				<dict>
					<key>name</key>
					<string>testname</string>
					<key>url</key>
					<string>testurl</string>
				</dict>
			</array>
		</dict>
	</array>
    <key>消息</key>
	<array>
		<dict>
			<key>本站系统</key>
			<array>
				<dict>
					<key>name</key>
					<string>testname</string>
					<key>url</key>
					<string>testurl</string>
				</dict>
			</array>
		</dict>
	</array>
    <key>收藏</key>
	<array>
		<dict>
			<key>本站系统</key>
			<array>
				<dict>
					<key>name</key>
					<string>testname</string>
					<key>url</key>
					<string>testurl</string>
				</dict>
			</array>
		</dict>
	</array>

</dict>
</plist>
